<!DOCTYPE HTML SYSTEM>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Qmeter Report</title>
    <%= stylesheet_link_tag 'qmeter/qmeter' %>
    <%= javascript_include_tag 'qmeter/jquery-v1.11.2' %>
    <%= javascript_include_tag 'qmeter/qmeter' %>
  </head>
  <body>
    <%= hidden_field_tag "previous_reports", @previous_reports.to_json, id: "previous_reports" %>
    <h2 class="tophead"> Q-meter Dashboard</h2>
    <hr/>
    <table class="security_warnings">
      <tr>
        <th colspan="2"><h3>Security Warnings</h3></th>
      </tr>
      <% unless @brakeman_warnings.blank? %>
        <% @brakeman_warnings.each do |warning| %>
          <tr><td><%= warning[0] %></td><td><%= warning[1] %></td></tr>
        <% end %>
      <% else %>
        <tr><td>No Security Warnings</td></tr>
      <% end %>
    </table>
    <p></p>

    <!-- <table class="headings" align="left" bgcolor="white" style="width:70%; font-size: 5pt;" border="2px"> -->
    <table class="headings">
      <tr>
        <th><h3>Security Warnings</h3></th>
        <th ><h3>Rails Best Practise</h3></th>
        <th><h3>Flog</h3></th>
        <th><h3>Stat</h3></th>
      </tr>

      <tr>
        <td>
          <a href="report.html" target="_blank">
            <div class="pie" style="<%= @brakeman_warnings_rgy %>">
              <div class="title"></div>
              <div class="outer-right mask" id= "10deg"></div>
              <div class="inner-right"></div>

              <div class="outer-left mask">
                <div class="inner-left"></div>
              </div>
              <div class="content">
                <span><%= @warnings_count %></span>
              </div>
            </div>
          </a>
          <p></p>
          <div class="table_report" align="center">
            <a href="report.html" target="_blank">Report</a>
          </span>
        </td>

        <td>
          <a href="/metric_fu/rails_best_practices.html" target="_blank">
            <div class="pie" style="<%= @rails_best_practices_rgy %>">
              <div class="title"></div>
              <div class="outer-right mask" id= "10deg">
              </div>

              <div class="outer-left mask">
                <div class="inner-left"></div>
              </div>
              <div class="content">
                <span><%= @rails_best_practices_total %></span>
              </div>
            </div>
          </a>
          <p></p>
          <div class="table_report" align="center">
            <a href="/metric_fu/rails_best_practices.html" target="_blank">Report</a>
          </div>
        </td>

        <td>
          <a href="/metric_fu/flog.html" target="_blank">
            <div class="pie" style="<%= @flog_rgy %>">
              <div class="title"></div>
              <div class="outer-right mask" id= "10deg">
                <div class="inner-right"></div>
              </div>

              <div class="outer-left mask">
                <div class="inner-left"></div>
              </div>
              <div class="content">
                <span><%= @flog_average_complexity %></span>
              </div>
            </div>
          </a>
          <p></p>
          <div class="table_report" align="center">
            <a href="/metric_fu/flog.html" target="_blank">Report</a>
          </div>
        </td>

        <td>
          <a href="/metric_fu/stats.html" target="_blank">
            <div class="pie" style="<%= @stats_rgy %>">
              <div class="title"></div>
              <div class="outer-right mask" id= "10deg">
                <div class="inner-right"></div>
              </div>

              <div class="outer-left mask">
                <div class="inner-left"></div>
              </div>
              <div class="content">
                <span><%= @stats_code_to_test_ratio %></span>
              </div>
            </div>
          </a>
          <p></p>
          <div class="table_report" align="center">
            <a href="/metric_fu/stats.html" target="_blank">Report</a>
          </div>
        </td>
      </tr>
    </table>

    <table class="history" align="center">
      <tr>
        <th align="center">History</th>
      </tr>
      <tr>
        <% if @previous_reports.blank? %>
          <div class='git-commit'>No commits with Qmeter yet</div>
        <% else %>
          <tr>
            <td><div id="Linegraph2"></div></td>
          </tr>
            <tr><td> <div id="Linegraph3"></div></td>
          </tr>
          <tr>
            <td><div id="Linegraph"></div></td>
          </tr>
          <tr><td><div id="Linegraph1"></div></td></tr>
          <!-- tr bgcolor="#A5FF88">
          <td colspan="2" align="center" style="font-size: 9pt;"><%#= "Generated on #{Time.now}" %></td>
          </tr> -->
        <% end %>
      </tr>
    </table>
  <body>
</html>