<!DOCTYPE HTML SYSTEM>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Qmeter Report</title>
    <%= stylesheet_link_tag 'qmeter/qmeter' %>
    <%= javascript_include_tag 'qmeter/jquery-v1.11.2' %>
    <%= javascript_include_tag 'qmeterqmeter' %>
    <script type="text/javascript">
      // Custom JS
      // Get previous report data
      var data = <%= raw @previous_reports.to_json %>;

      // Transpose array
      var newArray = data[0].map(function(col, i) {
        return data.map(function(row) {
          return row[i]
        })
      });


      // Get time intervals
      time = newArray[newArray.length-1]

      // Get data of each modules
      arr_flog = newArray[newArray.length-5]
      arr_stats = newArray[newArray.length-4]
      arr_best_practise = newArray[newArray.length-3]
      arr_security_warnings = newArray[newArray.length-2]

      // Parse flog & stats data into float
      arr_flog_hash = [];
      for( var i = 0, len = arr_flog.length; i < len; i++ ) {
        arr_flog_hash[i] = {X: time[i] , Y: parseFloat( arr_flog[i] ) };
      }
      arr_stats_hash = [];
      for( var i = 0, len = arr_stats.length; i < len; i++ ) {
        arr_stats_hash[i] = {X: time[i], Y: parseFloat( arr_stats[i] )};
      }
      arr_best_practise_hash = [];
      for( var i = 0, len = arr_best_practise.length; i < len; i++ ) {
        arr_best_practise_hash[i] ={X: time[i], Y: parseInt( arr_best_practise[i] )};
      }
      arr_security_warnings_hash = [];
      for( var i = 0, len = arr_security_warnings.length; i < len; i++ ) {
        arr_security_warnings_hash[i] ={X: time[i], Y: parseInt( arr_security_warnings[i] )};
      }

         var graphdata1 = {
            linecolor: "Random",
            values: arr_flog_hash
                    };

        var graphdata2 = {
            linecolor: "Random",
            values: arr_stats_hash
             };

        var graphdata3 = {
            linecolor: "Random",
            values: arr_security_warnings_hash
        };

        var graphdata4 = {
            linecolor: "Random",
            title: 'rails practise',
            values: arr_best_practise_hash
        };

        $(function () {
            $("#Linegraph").SimpleChart({
                toolwidth: "150",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                title: 'flog',
                data: [graphdata1],
            });

            $("#Linegraph1").SimpleChart({
                toolwidth: "150",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                title: 'stats',
                data: [graphdata2],
            });

            $("#Linegraph2").SimpleChart({
                toolwidth: "150",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                title: 'security warnings',
                data: [graphdata3],
            });

            $("#Linegraph3").SimpleChart({
                toolwidth: "150",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                title: 'rails practise',
                data: [graphdata4],
            });
        });
    </script>

    </head>
  <body>
    <h2 class="tophead"> Q-meter Dashboard</h2>
    <hr/>
     <table align="right" bgcolor="white" style="width:25%; font-size: 5pt;" border="2px">
      <tr bgcolor="#A5FF88">
        <td colspan="2"><h3 align="center" style="color: #195319; font-size: 8pt;">Security Warnings
      </tr>
      <% unless @brakeman_warnings.blank? %>
        <% @brakeman_warnings.each do |warning| %>
          <tr><td><%= warning[0] %></td><td><%= warning[1] %></td></tr>
        <% end %>
      <% else %>
        <tr><td>No Security Warnings</td></tr>
      <% end %>
    </table>
    <p></p>

    <table class="headings" align="left" bgcolor="white" style="width:70%; font-size: 5pt;" border="2px">
      <tr>
        <th><h3>Security Warnings</h3></th>
        <th ><h3>Rails Best Practise</h3></th>
        <th><h3>Flog</h3></th>
        <th><h3>Stat</h3></th>
      </tr>

      <tr bgcolor="white">
        <th>
          <a href="report.html" target="_blank">
            <div class="pie" style="<%= @brakeman_warnings_rgy %>">
              <div class="title"></div>
              <div class="outer-right mask" id= "10deg"></div>
              <div class="inner-right"></div>

              <div class="outer-left mask">
                <div class="inner-left"></div>
              </div>
              <div class="content">
                <span><%= @warnings_count %></span>
              </div>
            </div>
          </a>
          <p></p>
          <a href="report.html" target="_blank">Report</a>
        </th>

        <th>
          <a href="/metric_fu/rails_best_practices.html" target="_blank">
            <div class="pie" style="<%= @rails_best_practices_rgy %>">
              <div class="title"></div>
              <div class="outer-right mask" id= "10deg">
              </div>

              <div class="outer-left mask">
                <div class="inner-left"></div>
              </div>
              <div class="content">
                <span><%= @rails_best_practices_total %></span>
              </div>
            </div>
          </a>
          <p></p>
          <a href="/metric_fu/rails_best_practices.html" target="_blank">Report</a>
        </th>

        <th>
          <a href="/metric_fu/flog.html" target="_blank">
            <div class="pie" style="<%= @flog_rgy %>">
              <div class="title"></div>
              <div class="outer-right mask" id= "10deg">
                <div class="inner-right"></div>
              </div>

              <div class="outer-left mask">
                <div class="inner-left"></div>
              </div>
              <div class="content">
                <span><%= @flog_average_complexity %></span>
              </div>
            </div>
          </a>
          <p></p>
          <a href="/metric_fu/flog.html" target="_blank">Report</a>
        </th>

        <th>
          <a href="/metric_fu/stats.html" target="_blank">
            <div class="pie" style="<%= @stats_rgy %>">
              <div class="title"></div>
              <div class="outer-right mask" id= "10deg">
                <div class="inner-right"></div>
              </div>

              <div class="outer-left mask">
                <div class="inner-left"></div>
              </div>
              <div class="content">
                <span><%= @stats_code_to_test_ratio %></span>
              </div>
            </div>
          </a>
          <p></p>
          <a href="/metric_fu/stats.html" target="_blank">Report</a>
        </th>
      </tr>
    </table>

<table  align="center" border="1px" style="width: 100%; margin-top: 200px">
    <tr bgcolor="#A5FF88">
        <th align="center" style="color: #195319; font-size: 14pt;">HIstory</th>
      </tr>
      <tr>
      <% unless @previous_reports.blank? %>
    <tr>
     <th><div id="Linegraph2" style=" height: 200px"></div></th>
    <tr><th> <div id="Linegraph3" style=" height: 200px"></div></th></tr>
      <tr>
      <th><div id="Linegraph" style="height: 200px"></div></th></tr>
      <tr><th><div id="Linegraph1" style="height: 200px"></div></th></tr>
        <!-- tr bgcolor="#A5FF88">
          <td colspan="2" align="center" style="font-size: 9pt;"><%#= "Generated on #{Time.now}" %></td>
        </tr> -->
        <% else %>
          <tr>No commits with Qmeter yet</tr>
        <% end %>
      </table>  <!--  -->
<body>
</html>

